*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSHm4blHkd8Ok3pe9IJ_rumB_CjUo7agbC5w&s);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items:center;
}

h3{
    /* text-align: center; */
    /* letter-spacing: 0rem; */
    font-size: 1em;
    text-transform: uppercase;
    background-color: grey;
    font-weight: bolder;
    padding: 10px;
    border-radius: 20px;
    /* backdrop-filter: blur(20px); */
}

h1{
    letter-spacing: 1rem;
    color: #ffff;
}

.content{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

h5{
    text-transform: uppercase;
    background-size: cover;
    color: #ffff;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* text-shadow:0 10px 2px rgb(255, 0, 0); */
    -webkit-box-reflect: below -3px linear-gradient(transparent,rgba(0,0,0,0.2));
    /* animation: newyear 20s infinite; */
}

h6>span{
    position: relative;
    display: inline-block;
    animation: newyear 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    color: red;
}

@keyframes newyear {
    0%{
        transform: translateY(0px); 
    }
    20%{
        transform: translateY(-50px); 
        color: #ffff;
        font-size: 20px;
    }
    80%{
        transform: translateY(50px);
        color: aqua;
    }
    100%{
        transform: translateY(0px); 
    }
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    justify-content: space-evenly;
    background-color: blueviolet;
    border-radius: 10px;
}

.text{
    background-color: aqua;
    padding: 1px 3px; 
    border-radius: 5px;
    font-weight: bold;
}

.num{
    font-size: 1.5em;
    padding: 5px 0;
    font-weight: bolder;
}

#seconds{
    animation: effect 2s infinite ease-in-out;
}

@keyframes effect {
    /* 0%{
        color:rgb(251, 255, 1);
    } */
    50%{
        color:rgb(255, 0, 0);
    }
    100%{
        color:rgb(17, 0, 255);
    }
}

@media screen and (min-width:768px) {
    .container{
        /* background-color: red; */
        font-size: 2em;
    }
}
@media screen and (max-width:375px) {
    body{
        /* background-image:url(https://images7.alphacoders.com/337/337742.jpg); */
        background-image:url(https://media.istockphoto.com/id/1519815049/photo/happy-new-year-2024-christmas-gold-blue-glitter.webp?b=1&s=170667a&w=0&k=20&c=hjymHuqH_9U0WQGd6sDXIAMq1xNrcLYTGVcNtgCDU8Y=);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
